// global colors
$primary: #e3b104;
$black: #181517;
$white: #ffffff;

//global style
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  cursor: pointer;
}

@media screen and (max-width: 1110px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 425px) {
  .container {
    width: 90%;
  }
}
